.winner-card {
    height: 50%;
    width: 100%;
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    flex-direction: column;
    color: black;
}

.winner-card:not(.winner-card--hidden) {
    transition: opacity ease-in-out 0.7s;
}

.winner-card-text {
    margin-bottom: 10px;
}

.winner-card--hidden {
    opacity: 1;
    pointer-events: none;
}